
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    transition: all 2s;

}


/* navbar */
nav{
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    z-index: 1;
    opacity: .8;

}
.sabitle{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99999;
    opacity: .5;
    font-size: 1rem;
    color: black;
    transition: all 3s;

}
nav>ul{
    text-transform: uppercase;
}
label{
    font-size: 2.2rem;
    font-weight: bold;
}


nav>ul>li{
    list-style-type: none;
    display:inline-block;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1rem;
    
}
#navlist{
    outline: none;
    text-decoration: none;
    padding: 5px;
    border-radius: 10%;
    color: black;
}
#navlist:hover{
    border: none;
    text-decoration: none;
    color: black;
    background-color: slategray;
    transition: all 0.5s;
}
.checkbtn{
    font-size: 2rem;
    float: right;
    display: none;
    cursor: pointer;

}
#check{
    display: none;
}

/* profil foto*/
.image-ort{
    justify-content: center;
    text-align: center;
    display: flex;

}
.image-ort>label{
    position: absolute;
    margin-top: 280px;
    color: white;
    font-size: 2rem;
    opacity: .8;
}
.image-ort>label:hover{
    opacity: 2;
    cursor: pointer;
}

#profil-foto{
    margin-top: 80px;
    position: absolute;
    height: 200px;
    width: 180px;
    border-radius: 150px;
    opacity: .8;
    cursor: pointer;
}
#profil-foto:hover{
    opacity: 2;
}

.profil-line{
    position: absolute;
    color: black;
}

/* image line */
.on {
    opacity:1;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -ms-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
    z-index: 2;
}

.off {
    opacity:0;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
    z-index: 1;
}

/* center-bar */
.container{
    font-family: 'Roboto', sans-serif;
    transition: all 1s;
}
.container>.row>.center-bar{
    border: 1px solid black;
}
.container>.row>.center-bar>ul{ 
    list-style: none;
    text-align: center;
    

}
.container>.row>.center-bar>ul>li{ 
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;

}
.container>.row>.center-bar>ul>li>a{ 
    outline: none;
    color: black;
    padding: 5px;
    border-radius: 10%;
}
#contentbar-btn{
    color: grey;
}
#contentbar-btn:hover{
    color: white;
}

/* content */
.row>.col-md-9{
    margin-top: 20px;
    height: 600px;
    border-radius: 5%;
}
.row>.col-md-3{
    margin-top: 20px;
    height: 200px;
    border-radius: 5%;
}
.row>.col-md-9{
    margin-top: 20px;
    height: 600px;
    border-radius: 5%;
}

#content-img:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.2s;


}

/* Todo List Model */

.taskBoard>ul{
    
    margin-top: 30px;

    
}
#content{
    margin-left: 20px;
    font-size: 1rem;
}
#chckbox{
    margin-left: 5px;
}
.taskBoard>ul>li{
    list-style-type: none;
    font-size: 0.5rem;
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(73, 113, 158);
    color: rgb(31, 139, 73);
}


.todoList
{
    cursor: pointer;
    list-style-type: none;
    font-size: 1rem;
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(73, 113, 158);
    color: rgb(173, 15, 15);
    cursor: pointer;
}



.taskBoard>ul>li>input{

    margin-right: 10px;

}

#delete{
    padding: 5px;
    background-color: rgb(219, 75, 75);
    color:white;
    margin-right: 5px;
    font-size: 1rem;
    float: right;

}
.btntodoDelete{
    outline: none;
    border: 0;
    color: rgb(163, 64, 64);
    background-color: white;
    float: right;
    padding: 3px;
}
.btntodoDelete:hover{
    
    color: red;

}

/* footer */

footer{
    width: 100%;
    height: 250px;
    background-color: rgb(58, 57, 57);
    bottom: 0;
    opacity: .8;
}
#leftFooter{
    border-right: 1px solid white;
}

.socialmedia{
    text-align: center;
    margin-right: 5px;
}
#socialmedia2{
    margin-right: 10px;
}
#socialmedia2:hover{
    color: blue;
    transition: all .5s;
}
#footerInfo{
    font-size: 1rem;
    margin-right: 10px;
    color: white;
    border-bottom: 1px solid grey;
}
#labelFooter>a{
    font-size: 2rem;
    color:white;


}

/* scrool */

.scroll{
    position: fixed;
    display: none;
    width:50px ;
    background-color: yellow;
    float: right;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    bottom: 0;
    right: 0;
    transition: all 2s;

}
.scroll-atl{
    position: fixed;
    display: block;
    height: 30px;
    width:50px ;
    background-color: yellow;
    float: right;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    bottom: 0;
    right: 0;
    transition: all 2s;

}

.scroll>a{

    text-decoration: none;
    color: black;

}


/* width */
    ::-webkit-scrollbar {
    width: 10px;
    }
    
    /* Track görünüm */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px grey; 
        border-radius: 5px;
    }
    
    /* Handle  üstünde */ 
    ::-webkit-scrollbar-thumb {
        background: rgb(131, 131, 131); 
        border-radius: 5px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #000000; 
    }


@media  (max-width:991px) {

    label{
        font-weight: bold;
        font-size: 1.8rem;

    }
    li{
        font-size: 0.9rem;
    }

    .image-ort>label{

        margin-top: 230px;
        font-size: 1.5rem;
    }
    
    #profil-foto{


        height: 150px;
        width: 130px;

    }

}
@media  (max-width:861px) {

    nav>ul{
        position: fixed;
        background-color: gray;
        width: 100%;
        height: 100%;
        top: 70px;
        left: -100%;
        text-align: center;
        z-index: 1;
        transition: all .5s;
    }
    .checkbtn{
        display: block;
        float: right;
        
    }
    nav>ul>li{
        display: block;
        margin: 50 0px;
        line-height: 30px;
        
        
    }

    nav>ul>li>a{
        font-size: 1.1rem;
    }
    a:hover , a:active{
        background-color: none;
        color: aqua;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all 1s;
        
    }

    /* profil-image */
    .image-ort>label{

        margin-top: 180px;
        font-size: .8rem;
    }
    
    #profil-foto{


        height: 100px;
        width: 100px;

    }

    /* center-bar*/
    .container>.center-bar{
        border: 1px solid black;
    }
    .container>.center-bar>ul{ 
        height: 100%;
        transition: all .5s;
    
    }
    .container>.center-bar>ul>li{ 
        display: block;
        margin: 50 0px;
        line-height: 30px;
    
    }

    .container>.center-bar>ul>li>a{ 
        font-size: 1.1rem;
    }

    #footerInfo{
        font-size: .5rem;
        margin-right: 10px;
        color: white;
        border-bottom: 1px solid grey;
    }
    #labelFooter>a{
        font-size: 1rem;
        color:white;
    
    
    }

}